body {
    margin: 0;
    font-family: "Segoe UI", Roboto, sans-serif;
    background: #f6f8fa;
    color: #2c3e50;
}

.navbar {
    background: #6db33f; /* Spring green */
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 60px auto;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}

input {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background: #6db33f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #5aa32f;
}

#shortResult {
    margin-top: 15px;
    font-weight: bold;
}

footer {
    margin-top: 80px;
    text-align: center;
    color: #777;
    font-size: 13px;
}
